.p {
    font-family: "Alegreya SC";
    width: 7%;
    height: 10vh;
    margin: 20px 10px;
    border: 2px solid palegoldenrod;
    border-radius: 10px;
    overflow: hidden;
}

.p-browse {
    height: 20px;
    display: flex;
    align-items: center;
}

.p-img {
    height: 100%;
    width: 100%;
}
